extends layout
block css
      link(rel='stylesheet', href='/stylesheets/video.css')
block scripts
  script(type='text/javascript' src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js")
block content
  h1= title
  div(class="videos-container")
    video(id="js-local-video" autoplay muted)
  script(type='text/javascript' src="/javascripts/step4.js")
